#app {
  min-height: 100vh;
}

.experiment-container {
  display: grid;
  height: 95vh;
  margin: 0 auto;
  grid-template-columns: [left] 1fr [middle] 1fr [right] 1fr;
  grid-template-rows: [top] 1fr repeat(2, 1fr) [middle] 1fr repeat(2, 1fr) [bottom] 1fr;
  justify-items: center;
  align-items: center;
}

.medium {
  width: 60px;
  height: 60px;
}

.small {
  width: 30px;
  height: 30px;
  font-size: 0.7em;
}

.large {
  width: 90px;
  height: 90px;
}

.small, .medium, .large{
  border-radius: 50%
}

.top {
  grid-row-start: top;
}

.midrow {
  grid-row-start: middle;
}

.bottom {
  grid-row-start: bottom;
}

.left {
  grid-column-start: left;
}

.midcol {
  grid-column-start: middle;
}

.right {
  grid-column-start: right;
}
