#app {
  padding: 20px;
  height: 100vh;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: [left] 1fr 1fr [big-right] 1fr [right] 1fr;
  grid-template-rows: [top] 1fr repeat(2, 1fr) [middle] 1fr repeat(2, 1fr) [bottom] 1fr 
  
}

.btn {
  color: #4a4a4a;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  padding: 5px;
  background-color: white;
  border: 1px solid #dbdbdb;
  height: 50%;
  width: 100%;
  border-radius: 4px;
}

.success {
  background-color: #23d160;
  border-color: transparent;
  color: #fff;
}

.error {
  background-color: #ff3860;
  border-color: transparent;
  color: #fff;
}

.big {
  grid-column: span 2;
  height: 100%;
}

.small {
  width: 50%;
  height: 40%;
  font-size: .75rem;
}
.left {
  grid-column-start: left;
}

.right {
  grid-column: right;
}
.big-right {
  grid-column: big-right / span 2;
  height: 100%;
}

.top {
  grid-row-start: top;
}

.middle {
  grid-row-start: middle;
}

.bottom {
  grid-row-start: bottom;
}